body{
    font-family: 'Oswald', sans-serif;
    background-color: #ecf0f1;
    font-size: 20px;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

#navigation{
    background-color: #4E4D4A;
    margin-bottom: 0;
    padding: 0;

}

#navigation li a{
    padding: 15px 20px;
    color: #ecf0f1;
}

#navigation li a:hover{
    background-color: #FF8C18; 
    color: #4E4D4A;
    transition: background 1s;
}

#navigation a span{
    color: #FF8C18;
    font-size: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
}

#navigation .icon-bar {
    color: white;
}

#head{
    background: url(../img/beachshowcase.jpg); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    color: #4E4D4A;
    
}

#head h1{
    font-size: 32px;
    line-height:1.2;
}

#head p{
    font-size:20px;
}

.current{
    width: 100%;
    background-color: #4E4D4A;
    margin-bottom: 0px;
}

.current h2{
    margin-top: 100px;
    font-size: 40px;
    color: #FF8C18;
}

.current h3{
    color: #4E4D4A;
    text-transform: uppercase;
}

#divCity{
    width: 60%;
    margin: auto;
    text-align: center;
}

#submitCity{
    background-color: #4E4D4A;
    border-color: transparent;
    height: 40px;
    font-weight: bold;
}

#submitCity:hover{
    background-color: #FF8C18; 
    color: #4E4D4A;
    transition: background 1s;
    border-color: transparent;
}

input[type='text']{
    height: 40px;
    font-size: 20px;    
    border: 1px solid #FF8C18;
}