body{
    font-family: 'Oswald', sans-serif;
    background-color: #ecf0f1;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

#navigation{
    background-color: #4E4D4A;
    margin-bottom: 0;
    padding: 0;

}

#navigation li a{
    padding: 15px 20px;
    color: #ecf0f1;
}

#navigation li a:hover{
    background-color: #FF8C18; 
    color: #4E4D4A;
    transition: background 1s;
}

#navigation a span{
    color: #FF8C18;
    font-size: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
}